<!DOCTYPE html>
<html>
  <head>
    <title>Eventbrite</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <style>
    .carte {
        background-color: #b0bec7;
        text-align: center;
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 5%;
        padding: 2%;
        padding-top: 2%;
        border-radius: 20px;
    }

    .title {
        font-size: 60px;
        color: white;
    }
  </style>    

  </head>

  <body>
    <%= yield %>

    <div class = "mx-3">
        <div>
            <div class="carte">
                <div>
                    <h1 class="mb-4 title">New event</h1>
                <div>

                <%= form_tag url_for(action: 'update'), method: "patch" do %>

                    <h4><%= label_tag 'First name' %></h4>
                    <%= text_field_tag 'user_first_name', @user.first_name %>
                    <br /> <br />

                    <h4><%= label_tag 'Last name' %></h4>
                    <%= text_field_tag 'user_last_name', @user.last_name %>
                    <br /> <br />

                    <h4><%= label_tag 'Bio' %></h4>
                    <%= text_field_tag 'user_description', @user.description %>
                    <br /> <br />

                    <%= submit_tag("Update my information", :class=>"btn btn-info") %>

                <% end %>
            </div>
        </div>
    </div>



  </body>

</html>


